/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
a:hover,
a:focus,
a:hover:focus {
  background-color: transparent;
  text-decoration: none;
}
@font-face {
  font-family: Rockwell;
  src: url("../fonts/ROCKB.TTF");
}
body {
  font-family: "Rockwell", sans-serif;
}
.top-carousel {
  min-height: 350px;
  background-image: url("../images/bicycle.png");
  background-size: cover;
}
.menu-border {
  padding: 14px 0 11px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 105px;
}
.navbar-top {
  position: relative;
  display: inline-block;
  margin-left: 20%;
}
.navbar-top > li {
  float: left;
  padding: 14px 18px 19px;
}
.navbar-top > li > a {
  color: #bcbcbc;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
}
.navbar-top > li > a:hover {
  color: #3eb3a5;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 5px solid #afafaf;
}
.navbar-top > li.avatar a:hover {
  border-bottom: none;
}
.navbar-top > li.active > a {
  color: #3eb3a5;
  border-bottom: 5px solid #afafaf;
}
.top-menu {
  float: left;
}
.nav-left {
  padding-left: 230px;
}
.avatar {
  height: 52px;
  position: relative;
  top: -96px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.avatar img {
  border: 7px solid white;
  border-radius: 50%;
  width: 211px;
  height: 211px;
}
.welcome {
  margin-bottom: 60px;
  text-align: center;
  color: #a0a0a0;
}
.welcome span {
  font-weight: 600;
  letter-spacing: 1px;
}
.welcome span:after,
.welcome span:before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 32px;
  border-bottom: 1px solid #a0a0a0;
}
.welcome span:before {
  top: 27px;
}
.welcome span:after {
  top: 15px;
}
.green-button {
  color: white;
  display: inline-block;
  padding: 20px 19px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3eb3a5;
  border-radius: 5px;
  border: none;
  outline: none;
}
.green-button:hover,
.green-button:focus,
.green-button:hover:focus {
  border: none;
  outline: none;
}
.posts {
  padding-bottom: 47px;
}
.post {
  padding-bottom: 43px;
  border-bottom: 1px dashed #d7d7d7;
}
.post:not(:first-child) {
  padding-top: 38px;
}
.post-admin {
  padding-bottom: 43px;
}
.date {
  position: relative;
  float: left;
  width: 122px;
  height: 122px;
  padding: 40px 15px;
  text-align: center;
  border: 7px solid #ebebeb;
  border-radius: 50%;
}
.date span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #3eb3a5;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 600;
}
.blog-text {
  padding: 25px 0 0 0;
}
.blog-attributes {
  border-bottom: 1px solid #ebebeb;
  padding-left: 7px;
  padding-bottom: 10px;
}
.blog-attributes li {
  display: inline-block;
  font-size: 14px;
  padding: 2px 10px;
}
.blog-attributes li a {
  color: #3eb3a5;
  font-size: 14px;
}
.blog-attributes li span {
  color: #c5c5c5;
}
.blog-attributes li i {
  color: #3eb3a5;
  font-size: 17px;
  padding-right: 8px;
}
.blog-attributes li:not(:last-child) {
  border-right: 1px solid #ebebeb;
}
.blog-content {
  padding: 22px 0 0 15px;
}
.blog-content h2 {
  font-size: 30px;
  font-weight: 600;
  word-spacing: 4px;
  padding-bottom: 15px;
}
.blog-content h2 a {
  color: #000;
}
.blog-content p {
  font-size: 16px;
  color: #8e8e8e;
  line-height: 24px;
  padding-bottom: 16px;
}
.blog-content .readMore {
  color: #3eb3a5;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 3px 0;
  border-bottom: 1px solid #ebebeb;
}
.blog-content .readMore:hover,
.blog-content .readMore:focus,
.blog-content .readMore:hover:focus {
  color: #3eb3a5;
}
.load-footer {
  text-align: center;
  margin-bottom: 67px;
}
.load-footer .load-posts {
  color: white;
  display: inline-block;
  padding: 20px 19px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3eb3a5;
  border-radius: 5px;
  border: none;
  outline: none;
}
.load-footer .load-posts:hover,
.load-footer .load-posts:focus,
.load-footer .load-posts:hover:focus {
  border: none;
  outline: none;
}
.one-blog {
  padding-bottom: 36px;
  border-bottom: 1px solid #d7d7d7;
}
.one-blog p {
  padding-bottom: 43px;
}
.one-blog .blog-img {
  margin-bottom: 39px;
}
.one-blog .tags span {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.one-blog .tags a {
  color: #3eb3a5;
  font-size: 16px;
}
.blog-footer {
  padding: 37px 0 38px;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 40px;
}
.blog-footer .count-comments {
  float: left;
  font-size: 24px;
  font-weight: 600;
}
.blog-footer .slide {
  float: right;
}
.blog-footer .next-stories {
  color: white;
  padding: 17px 24px 16px 23px;
  font-size: 16px;
  background-color: #3eb3a5;
  border-radius: 5px;
}
.form-add-comment {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 43px;
}
.form-add-comment h3 {
  font-size: 24px;
  padding-bottom: 45px;
}
.form-add-comment h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.form-add-comment label {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}
.form-add-comment input,
.form-add-comment textarea {
  color: #888b8b;
  padding: 19px 17px;
  font-size: 16px;
  background-color: #ebebeb;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}
.form-add-comment .send-comment {
  width: 100%;
  color: white;
  display: inline-block;
  padding: 20px 19px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3eb3a5;
  border-radius: 5px;
  border: none;
  outline: none;
}
.form-add-comment .send-comment:hover,
.form-add-comment .send-comment:focus,
.form-add-comment .send-comment:hover:focus {
  border: none;
  outline: none;
}
.comment {
  margin-bottom: 30px;
}
.comment-avatar {
  max-width: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}
.comment-heading {
  color: #3eb3a5;
  font-size: 24px;
  margin-bottom: 24px;
}
.comment-body {
  position: relative;
  padding-top: 40px;
}
.comment-media {
  color: #565656;
  font-size: 16px;
  background-color: #ebebeb;
  line-height: 24px;
  padding: 17px 13px;
  border-radius: 10px;
  margin-bottom: 17px;
}
.comment-reply {
  color: #3eb3a5;
  font-size: 16px;
}
.load-comments {
  text-align: center;
}
#more-comments {
  color: white;
  display: inline-block;
  padding: 20px 19px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3eb3a5;
  border-radius: 5px;
  border: none;
  outline: none;
}
#more-comments:hover,
#more-comments:focus,
#more-comments:hover:focus {
  border: none;
  outline: none;
}
.group-of-forms {
  margin-bottom: 30px;
}
.form-regist {
  float: left;
}
.form-autoriz {
  float: right;
}
.forms .form-group {
  display: inline-block;
}
.forms input {
  padding: 3px 7px;
  font-size: 18px;
  background-color: #55a084;
  border: none;
  border-radius: 0 5px 5px 0;
  min-height: 40px;
}
.forms input:hover,
.forms input:focus,
.forms input:hover:focus {
  outline: none;
}
.forms .form-input-icon {
  font-size: 18px;
  border: 1px solid #ccc;
  max-width: 40px;
}
.forms .user-icon {
  background-color: #61aa24;
}
.forms .user-mail {
  background-color: #ff7d00;
}
.forms .user-password {
  background-color: #919191;
}
.forms h2 {
  color: #10565e;
  font-size: 24px;
  margin-bottom: 20px;
}
.forms label {
  font-size: 18px;
  margin-bottom: 10px;
}
.forms span {
  color: red;
}
.forms .submit-form {
  border: none;
  font-size: 18px;
  padding: 7px 12px;
  background-color: #d7faeb;
}
.forms .submit-form:hover,
.forms .submit-form:focus,
.forms .submit-form:hover:focus {
  background-position: 0;
}
.form-out {
  text-align: center;
}
.out-user {
  border-radius: 3px;
  padding: 10px 13px;
  background-color: lightgreen;
  font-size: 24px;
  margin-bottom: 20px;
}
.account-user {
  margin-bottom: 30px;
}
.account-user span {
  color: #648098;
  margin: 3px 0;
}
.account-avatar {
  position: relative;
  text-align: center;
}
.account-data > div {
  margin-bottom: 15px;
}
.form-avatar input {
  display: inline-block;
  margin-bottom: 20px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover:focus {
  background-position: 0;
}
.del-avatar {
  position: absolute;
  top: 10px;
  right: 7%;
}
.del-account {
  display: inline-block;
  padding: 7px 12px;
  font-size: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0 17px 0px #a2a257;
          box-shadow: inset 0px 0 17px 0px #a2a257;
}
.del-account:hover,
.del-account:focus,
.del-account:hover:focus {
  background-color: antiquewhite;
}
.edit-post {
  display: block;
  width: 100%;
}
#All-comments {
  margin-bottom: 40px;
}
.admin-comments {
  position: relative;
  padding: 30px 20px 0;
  margin-bottom: 30px;
  width: 100%;
}
.delComment {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
}
.empty-comments {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 20px;
}
footer {
  text-align: center;
  padding-bottom: 50px;
}
.copyrights {
  color: #aeaeae;
  white-space: 2px;
  font-size: 18px;
  font-weight: 600;
}
.copyrights .created {
  color: #3eb3a5;
  font-weight: 600;
}
