@color_copyrights: #aeaeae;
@fs18: 18px;

footer {
	text-align: center;
	padding-bottom: 50px;
}
.copyrights {
	color: @color_copyrights;
	white-space: 2px;
	font-size: @fs18;
	font-weight: @fw;
	.created {
		color: @color_date;
		font-weight: @fw;
	}
}