/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}
a {
	&:hover, &:focus, &:hover:focus {
		background-color: transparent;
		text-decoration: none;
	}
}
// colors
@nav_hover_menu: #3eb3a5;
@nav_menu: #bcbcbc;
@nav_link_border: #afafaf;
@nav_border: #dfdfdf;
@welcome: #a0a0a0;

// fonts 
@fs24px: 24px;
@fw: 600;
@Rockwell: "Rockwell", sans-serif;

@font-face {
	font-family: Rockwell;
	src: url("../fonts/ROCKB.TTF");
}

body {
	font-family: @Rockwell;
}
.top-carousel {
	min-height: 350px;
	background-image: url("../images/bicycle.png");
	background-size: cover;
}
.menu-border {
	padding: 14px 0 11px;
	border-bottom: 1px solid @nav_border;
	margin-bottom: 105px;
}
.navbar-top {
	position: relative;
	display: inline-block;
	margin-left: 20%;
	&>li {
		float: left;
		padding: 14px 18px 19px;
		&>a {
			color: @nav_menu;
			padding: 10px 0;
			font-size: @fs24px;
			font-weight: @fw;
			&:hover {
				color: @nav_hover_menu;
				text-decoration: none;
				background-color: transparent;
				border-bottom: 5px solid @nav_link_border;
			}
		}
		&.avatar a:hover {
			border-bottom: none;
		}
		&.active {
			&>a {
				color: @nav_hover_menu;
				border-bottom: 5px solid @nav_link_border;
			}
		}
	}
}
.top-menu {
	float: left;
}
.nav-left {
	padding-left: 230px;
}
.avatar {
	height: 52px;
	position: relative;
	top: -96px;
	transform: translateY(-50%);
	img {
		border: 7px solid white;
		border-radius: 50%;
		width: 211px;
		height: 211px;
	}
}
.welcome {
	margin-bottom: 60px;
	text-align: center;
	color: @welcome;
	span {
		font-weight: @fw;
		letter-spacing: 1px;
		&:after, &:before {
			content: "";
			display: block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 32px;
			border-bottom: 1px solid @welcome;
		}
		&:before {
			top: 27px;
		}
		&:after {
			top: 15px;
		}
	}
}