/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}
a {
	&:hover, &:focus, &:hover:focus {
		background-color: transparent;
		text-decoration: none;
	}
}
// colors
@nav_hover_menu: #3eb3a5;
@nav_menu: #bcbcbc;
@nav_link_border: #afafaf;
@nav_border: #dfdfdf;
@welcome: #a0a0a0;

// fonts 
@fs24px: 24px;
@fw: 600;
@Rockwell: "Rockwell", sans-serif;

@font-face {
	font-family: Rockwell;
	src: url("../fonts/ROCKB.TTF");
}

body {
	font-family: @Rockwell;
}
.top-carousel {
	min-height: 350px;
	background-image: url("../images/bicycle.png");
	background-size: cover;
}
.menu-border {
	padding: 14px 0 11px;
	border-bottom: 1px solid @nav_border;
	margin-bottom: 105px;
}
.navbar-top {
	position: relative;
	display: inline-block;
	margin-left: 20%;
	&>li {
		float: left;
		padding: 14px 18px 19px;
		&>a {
			color: @nav_menu;
			padding: 10px 0;
			font-size: @fs24px;
			font-weight: @fw;
			&:hover {
				color: @nav_hover_menu;
				text-decoration: none;
				background-color: transparent;
				border-bottom: 5px solid @nav_link_border;
			}
		}
		&.avatar a:hover {
			border-bottom: none;
		}
		&.active {
			&>a {
				color: @nav_hover_menu;
				border-bottom: 5px solid @nav_link_border;
			}
		}
	}
}
.top-menu {
	float: left;
}
.nav-left {
	padding-left: 230px;
}
.avatar {
	height: 52px;
	position: relative;
	top: -96px;
	transform: translateY(-50%);
	img {
		border: 7px solid white;
		border-radius: 50%;
		width: 211px;
		height: 211px;
	}
}
.welcome {
	margin-bottom: 60px;
	text-align: center;
	color: @welcome;
	span {
		font-weight: @fw;
		letter-spacing: 1px;
		&:after, &:before {
			content: "";
			display: block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 32px;
			border-bottom: 1px solid @welcome;
		}
		&:before {
			top: 27px;
		}
		&:after {
			top: 15px;
		}
	}
};@blog_title: #272727;
@blog_par: #8e8e8e;
@blog_border_top: #ebebeb;
@blog_border_bottom: #d7d7d7;
@color_date: #3eb3a5;
@color_comments: #c5c5c5;
@color_comments_form: #888b8b;
@media_comments_color: #565656;
@fs30: 30px;
@fs24: 24px;
@fs20: 20px;
@fs18: 18px;
@fs17: 17px;
@fs16: 16px;
@fs14: 14px;
@fs12: 12px;

// mixins
.green-button {
	color: white;
	display: inline-block;
	padding: 20px 19px;
	margin-bottom: 40px;
	font-size: @fs18;
	font-weight: @fw;
	background-color: @color_date;
	border-radius: 5px;
	border: none;
	outline: none;
	&:hover, &:focus, &:hover:focus {
		border: none;
		outline: none;
	}
}
.posts {
	padding-bottom: 47px;
}
.post {
	padding-bottom: 43px;
	border-bottom: 1px dashed @blog_border_bottom;
	// margin-left: 79px;
	// margin-right: 134px;
	&:not(:first-child) {
		padding-top: 38px;
	}
}
.post-admin {
	padding-bottom: 43px;
}
.date {
	position: relative;
	float: left;
	width: 122px;
	height: 122px;
	padding: 40px 15px;
	text-align: center;
	border: 7px solid @blog_border_top;
	border-radius: 50%;
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: @color_date;
		white-space: nowrap;
		font-size: @fs30;
		font-weight: @fw;
	}
}
.blog-text {
	padding: 25px 0 0 0;
}
.blog-attributes {
	border-bottom: 1px solid @blog_border_top;
	padding-left: 7px;
	padding-bottom: 10px;
	li {
		display: inline-block;
		font-size: @fs14;
		padding: 2px 10px;
		a {
			color: @color_date;
			font-size: @fs14;
		}
		span {
			color: @color_comments;
		}
		i {
			color: @color_date;
			font-size: @fs17;
			padding-right: 8px;
		}
		&:not(:last-child) {
			border-right: 1px solid @blog_border_top;
		}
	}
}
.blog-content {
	padding: 22px 0 0 15px;
	h2 {
		font-size: @fs30;
		font-weight: @fw;
		word-spacing: 4px;
		padding-bottom: 15px;
		a {
			color: #000;
		}
	}
	p {
		font-size: @fs16;
		color: @blog_par;
		line-height: @fs24;
		padding-bottom: @fs16;
	}
	.readMore {
		color: @color_date;
		font-size: @fs16;
		font-weight: @fw;
		letter-spacing: 1px;
		padding: 3px 0;
		border-bottom: 1px solid @blog_border_top;
		&:hover, &:focus, &:hover:focus {
			color: @color_date;
		}
	}
}
.load-footer {
	text-align: center;
	margin-bottom: 67px;
	.load-posts {
		.green-button;
	}
}
.one-blog {
	padding-bottom: 36px;
	border-bottom: 1px solid @blog_border_bottom;
	p {
		padding-bottom: 43px;
	}
	.blog-img {
		margin-bottom: 39px;
	}
	.tags {
		 span {
		 	color: #000;
		 	text-transform: uppercase;
		 	font-size: @fs18;
		 	font-weight: @fw;
		 }
		 a {
		 	color: @color_date;
		 	font-size: @fs16;
		 }
	}
}
.blog-footer {
	padding: 37px 0 38px;
	border-bottom: 2px solid @blog_border_bottom;
	margin-bottom: 40px;
	.count-comments {
		float: left;
		font-size: @fs24;
		font-weight: @fw;
	}
	.slide {
		float: right;
	}
	.next-stories {
		color: white;
		padding: 17px 24px 16px 23px;
		font-size: @fs16;
		background-color: @color_date;
		border-radius: 5px;
	}

}
.form-add-comment {
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 2px solid @blog_border_bottom;
	margin-bottom: 43px;
	h3 {
		font-size: @fs24;
		padding-bottom: 45px;
	}
	h2 {
		font-size: @fs18;
		padding-bottom: 20px;
	}
	label {
		color: @blog_par;
		font-size: @fs12;
		font-weight: @fw;
		white-space: nowrap;
	}
	input, textarea {
		color: @color_comments_form;
		padding: 19px 17px;
		font-size: @fs16;
		background-color: @blog_border_top;
		border: none;
		box-shadow: none;
		border-radius: 3px;
	}
	.send-comment {
		width: 100%;
		.green-button;
	}
}
.comment {
	margin-bottom: 30px;
}
.comment-avatar {
	max-width: none;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-right: 20px;
}
.comment-heading {
	color: @color_date;
	font-size: @fs24;
	margin-bottom: 24px;
}
.comment-body {
	position: relative;
	padding-top: 40px;
}
.comment-media {
	color: @media_comments_color;
	font-size: @fs16;
	background-color: @blog_border_top;
	line-height: 24px;
	padding: 17px 13px;
	border-radius: 10px;
	margin-bottom: 17px;
}
.comment-reply {
	color: @color_date;
	font-size: @fs16;
}
.load-comments {
	text-align: center;
}
#more-comments {
	.green-button;
}
.group-of-forms {
	margin-bottom: 30px;
}
.form-regist {
	float: left;
}
.form-autoriz {
	float: right;
}
.forms {
	.form-group {
		display: inline-block;
	}
	input {
		padding: 3px 7px;
		font-size: @fs18;
		background-color: #55a084;
		border: none;
		border-radius: 0 5px 5px 0;
		min-height: 40px;
		&:hover, &:focus, &:hover:focus {
			outline: none;
		} 
	}
	.form-input-icon {
		font-size: @fs18;
		border: 1px solid #ccc;
		max-width: 40px;
	}
	.user-icon {
		background-color: #61aa24;
	}
	.user-mail {
		background-color: #ff7d00;
	}
	.user-password {
		background-color: #919191;
	}
	h2 {
		color: #10565e;
		font-size: @fs24;
		margin-bottom: 20px;
	}
	label {
		font-size: @fs18;
		margin-bottom: 10px;
	}
	span {
		color: red;
	}
	.submit-form {
		border: none;
		font-size: @fs18;
		padding: 7px 12px;
		background-color: #d7faeb;
		&:hover, &:focus, &:hover:focus {
			background-position: 0;
		}
	}
}
.form-out {
	text-align: center;
}
.out-user {
	border-radius: 3px;
	padding: 10px 13px;
	background-color: lightgreen;
	font-size: @fs24;
	margin-bottom: 20px;
}
.account-user {
	margin-bottom: 30px;
	span {
		color: #648098;
		margin: 3px 0;
	}
}
.account-avatar {
	position: relative;
	text-align: center;
}
.account-data {
	&>div {
		margin-bottom: 15px;
	}
}
.form-avatar {
	input {
		display: inline-block;
		margin-bottom: 20px;
	}
}
.btn-primary {
	&:hover, &:focus, &:hover:focus {
		background-position: 0;
	}
}
.del-avatar {
	position: absolute;
	top: 10px;
	right: 7%;
}
.del-account {
    display: inline-block;
    padding: 7px 12px;
    font-size: @fs20;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: inset 0px 0 17px 0px #a2a257;
    &:hover, &:focus, &:hover:focus {
    	background-color: antiquewhite;
    }
}
.edit-post {
	display: block;
	width: 100%;
}
#All-comments {
	margin-bottom: 40px;
}
.admin-comments {
	position: relative;
	padding: 30px 20px 0;
	margin-bottom: 30px;
	width: 100%;
}
.delComment {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: @fs18;
}
.empty-comments {
	font-size: @fs20;
	display: inline-block;
	padding-bottom: 20px;
};@color_copyrights: #aeaeae;
@fs18: 18px;

footer {
	text-align: center;
	padding-bottom: 50px;
}
.copyrights {
	color: @color_copyrights;
	white-space: 2px;
	font-size: @fs18;
	font-weight: @fw;
	.created {
		color: @color_date;
		font-weight: @fw;
	}
}